.center-text {
  position: absolute;
  bottom: 5px;
  right: 60px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(124, 158, 69);  
  }

  #placeholders, #wins, #losses, #guesses-left, #guessed-letters {
    color: rgb(53, 57, 73);
    font-family: 'Francois One', sans-serif;
  }

  #mysteryWord {
    font-size: 30px;
  }