.center-text {
  position: absolute;
  bottom: 5px;
  right: 60px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(124, 158, 69);
    
  }
  #directions-text, #wins-text, #losses-text, #guessesLeft-text, #guessesSoFar-text {
    color: rgb(53, 57, 73);
    font-family: 'Francois One', sans-serif;

  }

  #directions-text {
    font-size: 30px;
    
  }